---
title: Gallery
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta
  veritatis in tenetur doloremque, maiores doloribus officia iste. Dolores.
layout: minimal
permalink: /gallery/
hero_image: /images/hero_1.jpg
---
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="heading-border-bottom font-weight-bold serif text-black mb-5 text-center">See Our galleries</h2>
      </div>
    </div>
    <div class="row">
      {% for image in site.images %}
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-5">
        <a href="{{ image.image | prepend: site.baseurl }}" data-fancybox="gal" class=""><img src="{{ image.image | prepend: site.baseurl }}" alt="{{ image.title }}" class="img-fluid"></a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include sale.html %}