---
layout: default
---

{% include parallax.html %}

{% include welcome.html %}

{% if site.services.size > 0 %}
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="heading-border-bottom font-weight-bold serif text-black mb-5 text-center">{{ site.data.pages.services.heading }}</h2>
      </div>
    </div>
    <div class="row">
      {% for service in site.services limit:4 %}
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <div class="service_13987">
          <a href="{{ service.url | prepend: site.baseurl }}" class="mb-3 d-block"><img src="{{ service.image | prepend: site.baseurl }}" alt="{{ service.title }}" class="img-fluid"></a>
          <div class="text">
            <h3 class="serif mb-3">{{ service.title }}</h3>
            <p>{{ service.excerpt | markdownify | strip_html }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 mt-lg-3 text-center">
        <p><a href="{{ site.data.pages.services.url | prepend: site.baseurl }}" class="btn btn-primary">View All</a></p>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if site.products.size > 0 %}
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="heading-border-bottom font-weight-bold serif text-black mb-5 text-center">{{ site.data.pages.products.heading }}</h2>
      </div>
    </div>
    <div class="row">
      {% for product in site.products limit:4 %}
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <div class="service_13987">
          <a href="{{ product.url | prepend: site.baseurl }}" class="mb-3 d-block"><img src="{{ product.image | prepend: site.baseurl }}" alt="{{ product.title }}" class="img-fluid"></a>
          <div class="text">
            <h3 class="serif mb-3">{{ product.title }}</h3>
            <p>{{ product.excerpt | markdownify | strip_html }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 mt-lg-3 text-center">
        <p><a href="{{ site.data.pages.products.url | prepend: site.baseurl }}" class="btn btn-primary">View All</a></p>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% include sale.html %}

{% if site.features.size > 0 %}
<div class="site-section bg-image overlay features_75651" style="background-image: url('{{ page.hero_image | prepend: site.baseurl }}')">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="heading-border-bottom font-weight-bold serif text-white mb-5">Spa Features</h2>
      </div>
    </div>
    <div class="row">
      {% for feature in site.features limit:4 %}
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="block_75651">
          <div class="wrap-icon">
            <span class="{{ feature.icon }}"></span>
          </div>
          <div class="text">
            <h3>{{ feature.title }}</h3>
            <p>{{ feature.content | markdownify }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if site.testimonials.size > 0 %}
<div class="site-section">
  <div class="text-center">
    <h2 class="heading-border-bottom font-weight-bold serif text-black mb-5 text-center">{{ site.data.pages.testimonials.heading }}</h2>
  </div>

  <div class="nonloop-block-13 owl-carousel d-flex">
    {% for testimonial in site.testimonials %}
    <div>
      <div class="testimonial-2">
        <div class="d-flex v-card align-items-center mb-4">
          <img src="{{ testimonial.image | prepend: site.baseurl }}" alt="Image" class="img-fluid mr-3">
          <span>{{ testimonial.title }}</span>
        </div>
        <blockquote>
          <p>{{ testimonial.content | markdownify }}</p>
        </blockquote>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="text-center mt-5">
    <a href="#" class="btn btn-primary custom-prev">Prev</a>
    <a href="#" class="btn btn-primary custom-next">Next</a>
  </div>
</div>
{% endif %}

{% include testimonial.html %}